body{
    background-color: aquamarine;
}
header{
    display: flex;
    justify-content: center;
}
.listContainer{
    display: flex;
    justify-content: space-evenly;
}
.list1container,.list2container,.list3container,.list4container,.ListContainer{
    display:flex;
    justify-content:center;
    align-items: start;
    /*background-color: grey;*/
    max-width:250px;
    min-width: 120px;
}
.list2,.list1,.list3,.list4,.smalllist{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    background-color: red;
    padding: 2px;
    min-width: 120px;

}
.list1 div,.list2 div,.list3 div,.list4 div,.smalllist div{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    background-color: white;
    min-width: 40px;
    min-height: 50px;
}
.buttonelement{
    min-width:40px;
    max-height:30px;
}
.editDel{

}

/*                                   modal box css                               */

/* The Modal (background) */
.modal {
    /*display: none; !* Hidden by default *!*/
    display:block;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
/*.close {*/
/*    color: #aaa;*/
/*    float: right;*/
/*    font-size: 28px;*/
/*    font-weight: bold;*/
/*}*/

/*.close:hover,*/
/*.close:focus {*/
/*    color: black;*/
/*    text-decoration: none;*/
/*    cursor: pointer;*/
/*}*/

.checkList{
    background-color: pink;
    display: flex;
    flex-direction: column;
}
.checkItem{
    background-color: green;
    display: flex;
    
}
.cardDetail{
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3px;
}
